{{!< default}}

{{> header}}

<main id="site-main" class="site-main">
    <section class="my-5 post-feed post-feed-tag container">
        <div class="pb-4">
            {{#tag}}
                <h2 class="h3 mb-2">{{name}}</h2>
                {{#if description}}
                    <p>{{description}}</p>
                {{/if}}
            {{/tag}}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-3">
                    {{#foreach posts limit=9}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </div>
        </div>
    </section>
</main>
